@charset "UTF-8"
*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}


body{
    background-image: linear-gradient(to right,#ADDBEA,#0598A0);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7fa4b1c9;
}

h1{
    text-align: center;
    color:#0598A0 ;
    text-shadow: 1px 1px 2px #rgba(3, 89, 94, 0.877)
}

h2{
color: #C0C4EF;
}
p{
    text-align: justify;
}